*.*~
*.asv
*.mat
*.svg
*.png
*.nfs*
*.fuse*
*.log*

/.ipynb_checkpoints/*
/jobs/*
/plots/*
/examples/*
/unused/*
/__pycache__/*
/cluster_jobs/__pycache__/*
/helpers/__pycache__/*
__pycache__
.Rproj.user
.RData
.Rhistory
